# Nextflow configuration files and directories
.nextflow*
.nextflow.log
.nextflow.trace
.nextflow.history
.nextflow.checkpoint
.nextflow.work
.nextflow.cache
.nextflow.reports
.nextflow.session
.nextflow.run
.nextflow.tmp
nextflow.config
process_resources.config
work/

# Vscode and IDE specific files
.vscode/

# Fastq files
input/*.fastq.gz

# DADA2 results
DADA2_results_MD
DADA2_results_NO-RS_MD/

# extra Blast results and db files
Isolate_Blast_inverted/
Isolate_Blast/MD_AllIsolates_blast.*
Isolate_Blast/*.fasta
Isolate_Blast/*.fa
Isolate_Blast/*.gz
Isolate_Blast/*.clean
Isolate_Blast/*.txt
